@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  background-color: #00002e;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 95%;
  border-radius: 20px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* تجعل العناصر تظهر في المنتصف عموديًا */
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: #10365e;
  position: relative; /* إضافة هذا السطر لتجعل العنصر ذو موضع نسبي */
}

.img {
  width: 100%;
  height: 40%;
  margin: 20px 0;
  border-radius: 20px;
  transition: all 1s;
  position: relative; /* إضافة هذا السطر لتجعل العنصر ذو موضع نسبي */
  display: flex; /* إضافة هذا السطر لجعل العنصر عنصر مرن */
  justify-content: center; /* تجعل الصورة تظهر في المنتصف أفقيًا */
  align-items: center; /* تجعل الصورة تظهر في المنتصف عموديًا */
}

.img img {
  border-radius: 20px;
  width: 95%;
  height: 100%;
}

.img:hover:before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: ""; /* إضافة هذا السطر لجعل الـ :before ظاهرًا */
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 30px;
  width: 95%;
  height: 100%;
  background-image: url(/favicon-32x32.png);
  background-size: 50px; /* تحكم بحجم الصورة المستخدمة في الـ :before */
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(151, 254, 237, 0.3);
}

.textContainer {
  width: 100%;
  padding: 0px 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.textContainer h2 {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

.textContainer h5 {
  align-self: center;
  color: gray;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  margin: 50px 0;
}

.items {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.frist {
  color: aqua;
  font-family: "Cairo", sans-serif;
}
.second {
  color: gray;
  font-family: "Cairo", sans-serif;
}

hr {
  margin: 50px 0;
  border-color: rgb(173, 173, 173);
  width: 90%;
}

.userName {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 15px;
}

.userName img {
  width: 50px;
}

.userName p {
  font-size: 30px;
  color: gray;
}

.userName p span {
  color: white;
  font-family: "Cairo", sans-serif;
}

@media (max-width: 1440px) {
    .img:hover:before{
        left: 31.9px;
    }

}

@media (max-width: 1000px) {
    .img:hover:before{
        left: 23px;
    }

}


@media (max-width: 768px) {
    .img:hover:before{
        left: 15.5px;
    }
    
}

@media (max-width: 600px) {
    .img:hover:before{
        left: 14px;
    }

}

@media (max-width: 475px) {
    .img:hover:before{
        left: 9px;
    }
    .textContainer h2 {
        font-size: 30px;
    }
    .items {
        font-size: 15px;
    padding: 5px;
    gap: 5px;
}

.userName {
    justify-content: center;
}

.userName p {
    font-size: 20px;
}
}

@media (max-width: 387px) {
  .footer {
    margin: 50px 0 30px 0;
  }
  .items {
    font-size: 10px;
  }
  .userName {
    height: 40%;
  }
}

@media (max-width: 375px) {
  .footer {
    margin: 96px 0 30px 0;
  }
}

@media (max-width: 320px) {
    .img:hover:before{
        left: 7px;
    }
  .userName p {
    font-size: 15px;
  }
}
